/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*******************************Accueil Archiduchesse**************************/

body{
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #777;
}

/*Header*/

.header_index_page{
  width: 100%;
  height: 75px;
  border-bottom: 1px solid grey;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  background-color: #f5f5f5;

}

.header_index_page.hamburger{
  width: 20%;

}

.header_index_page svg{
  width: 40%;
}

.userConnexion a{
  text-decoration: none;
  color: #777;
}

.header_index_page#caddy{
  width: 20%;
  height: 20%;
}

.navBar{
  width: 25%;
}

.navBar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.navBar ul li{
  display: inline-block;
  padding: 0 2px;
}

.navBar ul li a{
  text-decoration: none;
  color: #777;
}

.navBar2{
  display: none;
}

@media (max-width: 992px){
  .navBar,
  .userConnexion,
  .shop{
    display: none;
  }
}

@media (min-width: 992px){
  .hamburger{
    display: none;
  }
  .navBar2{
    display: block;
    border-bottom: 1px solid #e5e5e5;
  }

  .navBar2 ul{
    list-style: none;
    padding-left: 15px;

  }
  .navBar2 ul li{
    display: inline-block;
    padding: 0 2px;
  }

  .navBar2 ul li a{
    text-decoration: none;
    color: #777;
  }
}


/***********************************Main******************************/




/*Slider*/

.slide_container{

  max-width: 100%;
  padding: 0 10px;
}

.slide_container img{
  width: 100%;
  height: auto;
}

.imageTitle{
  display: inline-block;
  font-size: 12px;
  font-family: "Trebuchet MS",Arial,sans-serif;
  padding: 0.5em .4em;
  background: #e7e7e7;
  border-radius: 5px;
  margin-top: 15px;
}

.h2{
  font-size: 24px;
  font-family: Georgia,Times,"Times New Roman",serif;
  font-weight: 500;
  line-height: 1.1;
}

.secondaryButton{
  color: #fff;
  background-color: #444;
  border-color: #444;
  text-decoration: none;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.43;
  border-radius: 4px;
}

.sliderDots{
  list-style: none;
  display: inline-block;
  position: relative;
  left: 96px;
}

.sliderDots li{
  display: inline-block;
}

.sliderDots li img{
  width: 8px;
}

/*Galerie d'images*/

.galery{
  display: flex;
  flex-wrap: wrap;
}

.productContainer{
  margin-top: 15px;
  padding: 0 5px;
  width:45%;
  text-align: center;
  font-size: 12px;
  font-family: Georgia,Times,"Times New Roman",serif;
  line-height: 1.42857;
  color: #777;
}

.productContainer a img{
  max-width: 100%;
}

.catPrix{
  color: #7d2a35;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productName{
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid black;
  box-shadow: 0px 5px 3px #aaa;
}

.productName a{
  text-decoration: none;
  height: 43px;
  font-size: 14px;
  display: block;
  color: #444;
  font-style: italic;
  padding: 0 0 .7em 0;
}

.productAttributeGroup{
  background-color: #7d2a35;
  height: 30px;
  width: 70px;
  color: white;
  border-radius: 4px;
}


.cat,
.prix{
  margin: 0 5px;
}

.homeSelections{
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {

  .homeSelections{
    display: flex;
    flex-wrap: wrap;
  }

  .slide_container{
    margin: 0;
    width: 48%;
  }
  .productContainer{
    width: 23%;
  }
}

@media (min-width: 992px) {

  .homeSelections{
    display: flex;
    flex-wrap: wrap;
  }

  .slide_container{
    margin: 0;
    width: 30%;
  }
  .productContainer{
    width: 15%;
  }
}



/**********************SEO*****************/

#zoneSeo{
  border-top: 1px solid #e7e7e7;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
}

#zoneSeo article{
  text-align: center;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

h1{
  color: #444444;
  font-size: 30px;
  margin-top: 22px;
  margin-bottom: 11px;
}

@media (min-width: 768px){

  .seoWrapper{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .seo1{

    width: 45%;
  }
  .seo2{

    width: 45%;
    vertical-align: top;
  }

  .seo3{

    width: 100%;
  }

}

/*******************Footer*********************/

.footer{
  max-width: 470px;
  font-style: italic;
  margin: 5px auto 0;
}

.reassurance{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 4em;
  font-style: italic;
}

.reassurance a{
  color: #777;
  text-decoration: none;
}

.copyright{
  display: flex;
  flex-direction: column;
}

.followUs{
  font-size: 24px;
  font-style: normal;
  color: #444;
}

.newsletterInput{
  width: 100%;
  height: 38px;
  font-style: italic;
  font-size: 13px;
  line-height: 1.42857;
  color: #999;
  background-color: #F5F5F5;
  background-image: none;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}

.newsletterButton{
  background: transparent;
  border: 0;

}

.socialBlock ul{
  list-style: none;
  padding: 0;
}
.socialBlock ul li{
  display: inline-block;
}

.menuFooter{
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
  color: #444;
  padding-top: 1em;
  text-align: center;
}

.coqFab,
.retoursEch,
.paiementSec,
.livraisonOfferte{
  width: 48%;
}

.coq,
.retours,
.paiement,
.livraison{
  width: 100px;
  height: 100px;
  margin:auto;
  text-align: center;
  font-style: italic;
}


.copyright{
  font-size: 16px;
  background: #f5f5f5;
  box-shadow: 900px 0 0 #f5f5f5,-900px 0 0 #f5f5f5;
  font-size: 16px;
  padding-top: 3em;
  padding-bottom: 4em;
}

.address,
.newsSocial{
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.newsletterInput{
  width: 80%;
}

.mF768{
  display: none;
}

@media (min-width: 768px){
  .footer{
    max-width: 100%;
  }

  .coqFab,
  .retoursEch,
  .paiementSec,
  .livraisonOfferte{
    display: inline-block;
    width: 25%;
  }

  .address svg{
    width: 50%;
  }


  .mF768{
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .mF768 ul{
    list-style: none;
    padding: 0;
  }

  .mF768 li{
    font-style: normal;
  }

  .mF768 p{
    font-size: 30px;
    font-weight: 500;
    color: #444;
    font-style: normal;
  }

  .newsletterInput{
    width: 50%;
  }

  .menuFooter{
    display: none;
  }

}

@media (min-width: 992px){
  .seo1,
  .seo2,
  .seo3{

    width: 31%;
  }

  .seo3{
    vertical-align: top;
  }

  .copyright{
    display: flex;
    flex-direction: row;

  }

  .address,
  .mF768,
  .newsSocial{
    width: 40%;
  }

  .mF768,
  .newsSocial{
    text-align: left;

  }

  .menuFooter768{
    padding: 0 5px;
  }

  .menuFooter768 p,
  .newsSocial p{
    margin-top: 0;
  }
  .menuFooter768 p strong{
    font-size: 24px;
    font-weight: 500;
  }
  .followUs{
    line-height: 45px;
  }
}

/***********************Page Blog*******************/

/***********************Main*************************/

.container{
  display: flex;
  min-width: 320px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
}

.main_blog_page{
  text-align: left;
  width: 100%;
}


.asideCategory{
  margin-bottom: 30px;
}

.imgLeft img{
  width: 50px;
  margin-right: 10px;
}
.asideText{
  margin-left: 10px;
}

.asideUl{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.asideLi a{
  text-decoration: none;
  color: #444;
}

.tagz a{
  display: inline-block;
  margin: 0 .4em .4em 0;
  font-size: .8em;
  padding: .25em .5em;
  background-color: #e6e6e6;
  color: #777;
  border-radius: 3px;
  text-decoration: none;
}

.title a{
  text-decoration: none;
  font-size: 26px;
  color: #444;
  font-family: serif;
  font-weight: 500;
  line-height: 1.1;
}

.meta a{
  text-decoration: none;
  color: #444;
}

.imgAlouette{
  float: left;
}

.textAlouette{
  text-align: right;
}

.ligneInvisible{
  height: 62px;
}

.entryContent ul{
  list-style: none;
  padding-left: 0;
}


.entryContent blockquote{
  display: flex;
}

.entryContent blockquote svg{
  display: block;
  width: 2.4em;
  height: 2.4em
}

.rightQuote{
  transform: rotate(180deg);
}

.asideCategory{
  display: flex;
}

.sidebar{
  display: none;
}

@media (min-width: 992px){
  .sidebar{
    display: block;
    width: 25%;
    margin-left: 8.33%;
  }

  .main_blog_page{
    width: 66.66%;
  }
}
